<div class="aboutus"><br><br>
    <div id="about">
    <h2> ABOUT US </h2><br>
    <h6><i> Aspiring knowlegde from a trained and experienced mentors along with an experiencing of new sophisticated technological concepts is an asset for every learners. <br><br> So, why wait ?? Learn and explore !! </i></h6>
    </div><br><br>
</div>
<div class="body"><br><br>
    <h4><b> What do you know about Learning Platform ? </b></h4><br>
    <img src="https://images.pexels.com/photos/374820/pexels-photo-374820.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="350em" width="450em">
    <h3 style="color: red;"><b> Need Guidance ? We lead you to your destiny that exist !! </b></h3><br>
    <p> Learning Hub is an online learning platform that supports students to get an idea of new sophisticated <br><br> technologies and their corresponding course categories to explore on those concepts.
         We the team with <br><br> mentors and trainers are here to mould you to reach your career with flying colors. After the successful <br><br> completion of the course,
          assuring you a great idea about new trends in the industry. The student can <br><br> register for our course for free and enroll to explore our courses ... <b><i style="color: green;"> Happy Learning !! </i></b></p>
</div><br><br><br><br><br><br><hr>
<div class="bottom">
    <h6> We perform direct connection with the learner through email and contact. </h6>
    <h4> Learn to get Succeed in to your career !! </h4><br><br>
</div>