.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(59, 58, 58);
    color: grey;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}