.table{
    /* background-image: url("https://i.pinimg.com/originals/bf/fe/ed/bffeedff5331ec32b734faeee26ff2fe.jpg"); */
    background-image: url("https://c0.wallpaperflare.com/preview/839/136/850/peripherals-mouse-keyboard-mice.jpg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(223, 221, 221);
    color: white;
}