<div class="home">
    <br>
    <h2><b> Welcoming the Leading backbone of Knowledge !! </b></h2><br>
    <h4><i> " Knowledge is the true essence that nourishes ones personality and behaviour." </i></h4>
    <br>
    <h5><b> Lets get Started !! </b></h5>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="body">
    <br><br>
    <h4> ABOUT THE WORK </h4><br><hr>
    <img src="https://c1.wallpaperflare.com/preview/471/703/720/e-learning-training-school-online-learn-knowledge.jpg" height="350em" width="450em">
    <p> Learning Hub is a platform where you can guide the learners for the courses offered by them. <br>
         It supports the learners with a fully fledged mentors who will guide to their destination. <br>
         Mentors have the right to upload the courses offered by our hub. Add courses for the students. <br>
         Based on the valid student registeration and course option, the mentors can approve or reject the <br>
         students application for a particular course. The right of accepting and rejecting course depends upon <br>
         the mentors choice that will be updated in the students respective notification. Be the light of the <br>
         learners and guide them to their success. <br>
         ALL THE BEST TEAM !! <br><br>
         Click on the below button to verify student details and update your course !! <br><br> <button [routerLink]="'/professor/addcourse'"> START NOW </button> </p>
         <br>
</div>