<div class="home">
    <br>
    <h2><b> {{ userDetails.fullName }} &nbsp;&nbsp;, Welcoming you to the world of Knowledge !! </b></h2><br>
    <h4><i> " Success is not final, Failure is not fatal, It is the courage to continue that counts." </i></h4>
    <br>
    <h5><b> Let's get Explore !! </b></h5>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div class="body">
    <br><br>
    <h4> ABOUT THE PROGRAM </h4><br><hr>
    <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmluYW5jZSUyMGJsb2dnZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80" height="350em" width="450em">
    <p> Learning Hub is a platform where you can enjoy and learn the courses of new technology for free. <br>
         It supports the learners with a trained and professional mentors who will guide to its core. <br>
         Students can register for the platform and can enroll the courses offered by the mentors. <br>
         Based on the availability and verification the mentors can approve or reject the students application <br>
         to enroll for a particular course. The right of accepting and rejecting depends upon the mentors that <br>
         will be updated in your notification. Lets get into your page and enjoy your learning. <br>
         HAPPY LEARNING <br><br>
         Click on the below button to explore and enroll your course !! <br><br> <button [routerLink]="'/user/dashboard'"> LEARN NOW </button> </p>
         <br>
</div>